################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/DesignTimeBuild/.dtbcache.v2
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/3ba5ccb8-6da4-488d-bace-d1717f476134.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/455e0a70-93ba-4308-af39-29075fa201bb.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/5078a829-0ccb-45c7-8394-907286c0d608.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/62bd3cbf-0e27-4b19-afac-89c5b354317b.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/72748864-844c-43e1-8184-8d664606d5a1.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/9cb7d6ab-2331-4039-a580-8c7e58b71c8a.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/bae2c5b5-4d0d-4e89-82eb-44a7e188006d.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/bef676f9-5005-4a8d-ab69-3c00212b0a31.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/bfb58cb4-1193-4b3c-a8f8-74d3b49cea29.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ChargingPoint/FileContentIndex/f705beab-0b68-4e1c-8a9d-7f5559fe933b.vsidx
/ChargingPointWeb/ChargingPoint/.vs/ProjectEvaluation/chargingpoint.metadata.v7.bin
/ChargingPointWeb/ChargingPoint/.vs/ProjectEvaluation/chargingpoint.metadata.v9.bin
/ChargingPointWeb/ChargingPoint/.vs/ProjectEvaluation/chargingpoint.projects.v7.bin
/ChargingPointWeb/ChargingPoint/.vs/ProjectEvaluation/chargingpoint.projects.v9.bin
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/appsettings.json
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/ChargingPoint.deps.json
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/ChargingPoint.dll
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/ChargingPoint.exe
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/ChargingPoint.pdb
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/ChargingPoint.staticwebassets.runtime.json
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/ClosedXML.dll
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/ExcelNumberFormat.dll
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/Irony.dll
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/SixLabors.Fonts.dll
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/System.IO.Packaging.dll
/ChargingPointWeb/ChargingPoint/ChargingPoint/bin/Debug/net8.0/XLParser.dll
