.Account-contrainer {
    background-image: url('../Images/logo_v-green.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height:100vh;
    padding: 2rem 0;
}
.Account-box{
    background-color: #ffffff ;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    opacity : 0.9;
}
