@using Microsoft.AspNetCore.Identity
@using ChargingPoint.DB
@inject SignInManager<Users> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <li class="menu-item">
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="m-0 p-0">
            @Html.AntiForgeryToken()
            <a href="javascript:void(0);" class="menu-link" onclick="document.getElementById('logoutForm').submit();">
                <span class="material-symbols-outlined">logout</span>
                <span class="menu-text">Logout</span>
            </a>
        </form>
    </li>
}
else
{
    <li class="menu-item">
        <a asp-controller="Account" asp-action="Login" class="menu-link">
            <span class="material-symbols-outlined">login</span>
            <span class="menu-text">Login</span>
        </a>
    </li>
    <li class="menu-item">
        <a asp-controller="Account" asp-action="Register" class="menu-link">
            <span class="material-symbols-outlined">person_add</span>
            <span class="menu-text">Register</span>
        </a>
    </li>
}
