@* Form tìm kiếm với ô input và 3 checkbox cho các miền *@
<div class="mb-3">
    <form id="searchForm" method="get" asp-action="Search">
        <div class="input-group mb-2">
            @* Ô input để nhập từ khóa tìm kiếm, hỗ trợ autocomplete *@
            <input type="text" id="searchInput" name="searchString" class="form-control" placeholder="Nhập tên trạm" value="@ViewBag.SearchString" />
            @* Nút tìm kiếm *@
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
        @* Checkbox cho các miền *@
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="searchNorth" name="searchNorth" @(ViewBag.SearchNorth == true ? "checked" : "")>
            <label class="form-check-label" for="searchNorth">Miền Bắc</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="searchCenter" name="searchCenter" @(ViewBag.SearchCenter == true ? "checked" : "")>
            <label class="form-check-label" for="searchCenter">Miền Trung</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="searchSouth" name="searchSouth" @(ViewBag.SearchSouth == true ? "checked" : "")>
            <label class="form-check-label" for="searchSouth">Miền Nam</label>
        </div>
    </form>
</div>